<!-- <mat-sidenav-container>
  <mat-sidenav  #sidenav role="navigation">
   <mat-nav-list>
    <a mat-list-item>
      <mat-icon class="icon">input</mat-icon>
      <span class="label">Login</span>
    </a>
    <a mat-list-item>
      <mat-icon class="icon">home</mat-icon>  
        <span class="label">Home</span>
    </a>
    <a mat-list-item>
      <mat-icon class="icon">dashboard</mat-icon>  
      <span class="label">Dashboard</span>
    </a>
    <a  mat-list-item type="button">
      <mat-icon class="icon">input</mat-icon>
      <span class="label">LogOut</span>
    </a>  
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
     <div fxHide.gt-xs>
       <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
     <div>
       <a>
          ETHOS DASHBOARD
       </a>
     </div>
     <div fxFlex fxLayout fxLayoutAlign="flex-end"  fxHide.xs>

        <mat-form-field class="example-full-width">
            <input type="text" matInput placeholder="Search">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>

     </div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<mat-menu #appMenu="matMenu">
  <button mat-menu-item>Settings</button>
  <button mat-menu-item>Help</button>
</mat-menu>


<mat-toolbar color="primary">
   <div>
    <a>
      ETHOS DASHBOARD
    </a>
  </div>
  <div class="menu-list">
    <a class="menu-size">My Dashboard</a>
    <a class="menu-size">My Reports</a>
    <a class="menu-size">My Resources</a>
  </div>
  <!-- <div><a class="menu-size">My Reports</a></div>
  <div><a class="menu-size">My Resources</a></div> -->
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>

    <mat-form-field class="example-full-width" style="margin-top:20px">
      <input type="text" matInput placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

  </div>
</mat-toolbar>