<mat-card class="card">
    <div class="container">
      <div fxLayout="column" fxLayoutGap="20px" fxLayout.gt-md="row"  fxLayoutAlign="space-around center" class="content">
          <div class="blocks" >
              <mat-form-field>
                  <mat-select placeholder="Industry Type" disableRipple>
                    <mat-option value="1">Option 1</mat-option>
                    <mat-option value="2">Option 2</mat-option>
                    <mat-option value="3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="blocks" >
              <mat-form-field>
                  <mat-select placeholder="Product" disableRipple>
                    <mat-option value="1">Option 1</mat-option>
                    <mat-option value="2">Option 2</mat-option>
                    <mat-option value="3">Option 3</mat-option>
                  </mat-select>
                </mat-form-field>
          </div>
          <div class="blocks" >
              <button mat-raised-button color="primary">Primary</button>
          </div>

          OR
          <button mat-raised-button color="warn">Upload ACORD form</button>

    </div>
</div>
</mat-card>