/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
  margin: 0;
}

/* Quote Component style*/
.mat-raised-button {
  border-radius: 20px !important;
}

.mat-form-field-infix {
  border: 1px solid gray !important;
  border-radius: 15px !important;
}

.mat-form-field-label {
  padding: 2px;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  height: 0px !important;
}

/* Manager Screen */

.mat-chip-list-wrapper {
  margin-bottom:15px !important;
}

.mat-chip-list-wrapper .mat-standard-chip, .mat-chip-list-wrapper input.mat-input-element {
  margin: 4px;
  margin-right: 10px;
}

.mat-standard-chip {
  padding: 9px 16px;
}

.mat-cell, .mat-footer-cell {
  font-size: 12px;
}

.mat-header-cell {
  font-size: 12px;
  font-weight: bold;
}

.container-margin {
  margin-bottom: 10px;
}